<div class="container" >
<!-- <p>Tasty Lounge helps you find and order food from wherever you are.</p><br>
<p> Here is how it works:  Simply search for thee cusine. We will list all menu items in that cusine. You pick what you will like to order. </p> 
<p>What we can assure:  Your food is prepared with atmost attention to detail to your liking, packed neat ,tight and sealed and finally delivered to you with our safety seal.</p>
<p> What you should do:  Sit back and enjoy the delicious meal.</p> -->
<P class="fontsize">
    The first Yenat Guada (Mom’s Kitchen) opened its door in the mid 70's in Addis Ababa, Ethiopia. A childhood spent mostly enjoying traditionally prepared Ethiopian dishes and exploring inside the family run old fashioned Ethiopian restaurant, it became our unsuppressed dream to continue the rich family tradition abroad. Now the dream has come to be a reality, we are determined to keep the authentic flavorful taste of every Ethiopian dish that comes out of the kitchen and make you feel right at.
</P>
<img src="/assets/images/detail.jpg" alt="Tasty" width="1000" height="600">;
</div>
<br>
<br>

<p> We are delighted for the opportunity to serve you and hope to see you back soon.</p>